.main-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
    margin: 0 25px;
}

.product-container {
    margin: 60px 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.order-summery {
    background-color: rgba(255, 153, 0, 0.3);
}