.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #1C2B35;
    padding: 15px 110px;
}

.header a {
    text-decoration: none;
    color: #fff;
    margin-left: 32px;
}

.header a:hover {
    color: orange;
}
.activeClassName{
    border: 1px solid rgba(255, 203, 173, 0.459);
    padding:  3px 5px;
}
.btn-logout{
    border: none;
    margin: 0 32px;
    background-color: transparent;
    color: white;
    font-size: 16px;
    cursor: pointer;
}
.btn-logout:hover{
    color: orange;
}
.text-white{
    color: #fff;
}