.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #1C2B35;
    padding: 15px 110px;
}

.header a {
    text-decoration: none;
    color: #fff;
    margin-left: 32px;
}

.header a:hover {
    color: orange;
}